<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Snippet</title>
</head>
<body>
    <h1>Snippet</h1>
    <form method="post">
        {% csrf_token %}
        <label for="url">Url:</label><br>
        <input type="text" id="url" name="share_url"><br>
        <label for="secret">secretKey:</label><br>
        <input type="text" id="secret" name="secret_key"><br>
        <button type="submit">View Snippet</button>
    </form>
</body>
</html>